page-inicio {
  .toolbar-background-md {
    border-color: #EF5350;
    background: #EF5350;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-weight: 500;
    color: white;
    text-align: center;
  }
}
