page-login {
  .example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }

  .encabezado {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 50px);
    background-image: url("../assets/imgs/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .titulo {
    color: white;
    text-align: center;
    width: 100%;
    /* margin-top: 10rem; */
  }

  ion-app.md [padding] .scroll-content {
    padding: 0;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: white;
  }

  .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[floating] {
    color: white;
  }

  .btn-color {
    background-color: #B71C1C;
  }

  ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
  }

  .toolbar-background-md {
    border-color: #EF5350;
    background: #EF5350;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: white;
  }
}
